<div class="container">
    <div class="row">
        <div class="col-10">
            <div id=plying_field>
                <app-player
                    playerType="qlearning"
                    [RFingers]=QRFingers
                    [LFingers]=QLFingers
                    [flip]=true
                    (playerActionAtr)="playerActionHandler($event)"
                    (swapAction)="swapActionHandler($event)"
                >
                </app-player>
                <app-player
                    playerType="human"
                    [RFingers]=HRFingers
                    [LFingers]=HLFingers
                    (playerActionAtr)="playerActionHandler($event)"
                    (swapAction)="swapActionHandler($event)"
                >
                </app-player>
            </div>
        </div>

        <div class="col-2" [hidden]="hideSelectAlgorithm">
                <button class="btn btn-success" (click)="selectAlgorithm('qlearning')" >Q-Learning</button>
                <button class="btn btn-success" (click)="selectAlgorithm('wolf')" >Wolf</button>
                <button class="btn btn-success" (click)="selectAlgorithm('dual_agent_1')" >Dual agent 1</button>
                <button class="btn btn-success" (click)="selectAlgorithm('dual_agent_2')" >Dual agent 2</button>
        </div>

        <div class="col-2" [hidden]="hideSelectWhoGoesFirst">
            <div id=meta_data>
                <button class="btn btn-success" (click)="whoGoesFirst('human')" >I go First</button>
                <button class="btn btn-info" (click)="whoGoesFirst('qlearning')" >AI Goes First</button>
            </div>
        </div>

        <div class="col-2" [hidden]="hideWhoesTurnIsIt">
            <div>It is {{whoseTurnIsIt}}'s turn.</div>
            <app-history></app-history>
        </div>

    </div>
</div>
