<div class="container">
    <div class="row">
        <div class="col-10">
            <div id=plying_field>
                <app-player 
                    playerType="qlearning"
                    [RFingers]=QRFingers 
                    [LFingers]=QLFingers 
                    [flip]=true
                    (playerActionAtr)="playerActionHandler($event)"
                    (swapAction)="swapActionHandler(message)"
                >
                </app-player>
                <app-player 
                    playerType="human" 
                    [RFingers]=HRFingers 
                    [LFingers]=HLFingers
                    (playerActionAtr)="playerActionHandler($event)"
                    (swapAction)="swapActionHandler(message)"
                >
                </app-player>
            </div>
        </div>

        <div class="col-2" [hidden]="whoesTurnIsIt !== ''">
            <div id=meta_data>
                <button class="btn btn-success" (click)="whoGoesFirst('human')" >I go First</button>
                <button class="btn btn-info" (click)="whoGoesFirst('qlearning')" >AI Goes First</button>
            </div>
        </div>
        <div [hidden]="whoesTurnIsIt == ''">It is {{this.whoesTurnIsIt}}'s turn.</div>
    </div>
</div>