<div class="container">
    <div class="row">
        <div class="col-10">
            <div id=ßplying_field>
                <app-player playerType="qlearning" [RFingers]=HRFingers [LFingers]=HLFingers
                    (playerActionAtr)="playerActionHandler($event)"
                    (swapAction)="swapActionHandler(message)"
                >
                </app-player>
                <app-player playerType="human" [RFingers]=QRFingers [LFingers]=QLFingers
                    (playerActionAtr)="playerActionHandler($event)"
                    (swapAction)="swapActionHandler(message)"
                >
                </app-player>
            </div>
        </div>

        <div class="col-2">
            <div id=meta_data>
                <button class="btn btn-success" (click)="whoGoesFirst('human')" [disabled]="whoesTurnIsIt !== '' ">I go First</button>
                <button class="btn btn-info" (click)="whoGoesFirst('qlearning')" [disabled]="whoesTurnIsIt !== '' ">AI Goes First</button>
            </div>
        </div>
    </div>
</div>